# Project specific ignores
#
# Add any project specific ignores here.
Playlists

# OS
#
# Ignore all files that the OS automatically creates in a directory.
.DS_Store

# IDEs
#
# Ignore all files that IDEs automatically create in a directory.
.idea
.fleet

# Sensitive
#
# Ignore sensitive files that should not be shared.
*.cer
*.env
*.env.dev
*.env.development
*.env.uat
*.env.prod
*.env.production
*.jks
*.jwks
*.key
*.key.pub
*.p8
*.p12
*.pem
*.pid

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

# User settings
xcuserdata
xcuserdata/
**/xcuserdata/*
*.xcuserdata
*xcworkspace/xcuserdata/*
*/xcuserdata/*
*.xcworkspacedata
*.xcscheme

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Obj-C/Swift specific
*.hmap

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
.build/
Packages/
Package.pins
Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
.swiftpm

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore.
# However you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts
Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output